.filter {
  padding: 10px;
  margin: 4px;
  font-size: medium;
}

input {
  font-size: medium;
  background: #f7f7f7;
  outline: none;
  border: 1px solid rgba(0,0,0,0.3);
}

input:focus {
  border: none;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.button-close {
  border-radius: 95px;
  padding: 5px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}

.filters {
  display: flex;
  flex-direction: row;
}
