.filter {
  padding: 10px;
  margin: 4px;
  font-size: medium;
}

input {
  font-size: medium;
}

.button-close {
  border-radius: 95px;
  padding: 5px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}

.filters {
  display: flex;
  flex-direction: row;
}
