
.user-main {
    margin: 70px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column{
    width: 20%;
}

.right-column {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-detail-main {
    margin: 70px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.request-main {
    margin: 70px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}