.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.awesome {
  color: white;
  padding: 10px 25px;
  background-color: #059ca1;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #03d9e0;
}

.input {
  padding: 5px;
  height: 25px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1100px) {
  .pagination {
    width: 100%;
  }
}
