
.nav-bar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #fff;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    h3 {
        color: #01579b;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    z-index: 50  ;
    display: flex;
    justify-content: center;
    background-color: #059ca1;
}

.sidebar-container {
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.icon-column {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    i {
        color: #fff;
        font-size: 30px;
        margin-right: 0.5rem;
    }
    h4 {
        color: #fff;
    }
}

.icon-hover {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-hover:hover {
    cursor: pointer;
    background-color: #78e9ec86;
}