.activity-main {
  margin: 70px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column {
  width: 20%;
}

.right-column {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 85%;
  margin-bottom: 2rem;
}

.violation-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.violation-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;

  h1 {
    margin-left: 1rem;
  }

  input {
    margin-left: 1rem;
    text-align: center;
    width: 10%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #f7f7f7;
  }

  & input:hover {
    cursor: pointer;
  }

  p {
    margin-left: 1rem;
  }
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;

  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    h1 {
      font-size: 18px;
    }
  }
}
