
.home-main {
    margin: 70px 300px;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 1rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #f7f7f7;
    
    input {
        border: none;
        outline: none;
        height: 40px;
        padding-left: 5px;
        background: none;
        width: 100%;
    }

    i{
        color: rgba(0,0,0,0.3);
    }
}

.search:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.districts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 60px;
    border-radius: 5px;
    background-color: #6055a5; 
}

.label-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    padding: 5px;
    height: 100%;

    h4 {
        color: rgba(248, 242, 242, 0.842);
    }
}

.case-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    h4 {
        color: #fff;
        margin: 0;
    }
    h6 {
        color: rgba(248, 242, 242, 0.575);
        margin: 0;
    }
}

//role

.role-main {
    margin: 150px 300px;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.request-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    

    select {
        width: 60%;
        height: 40px;
        background-color: #F7F7F7;
        border: none;
        outline: none;
        margin-bottom: 1rem;
    }

    button {
        border: none;
        height: 30px;
        border-radius: 5px;
        outline: none;
        transition: 0.5s ease-in-out;
        background-color: #059ca1;
        color: #fff;
        margin-bottom: 1rem;
    }
}

.request-modal button:hover {
    cursor: pointer;
}

.note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 1rem;

    h4 {
        text-align: center;
    }
}
